data/ez_ebaluatuak.dtd

<!ELEMENT artikuloak (artikuloa)*>
<!ATTLIST artikuloak>
<!ELEMENT artikuloa (izenburua, hitzgakoak, saila, idazlea)>
<!ELEMENT izenburua (#PCDATA)>
<!ELEMENT hitzgakoak (hitza)*>
<!ATTLIST hitza>
<!ELEMENT saila (#PCDATA)>
<!ELEMENT idazlea (#PCDATA)>
<!ELEMENT idazlea_izena (#PCDATA)>
<!ELEMENT textua (#PCDATA)>